body
{
}

.multi-input{
    border: 1px solid black;
    display: inline-block;
}

.multi-input > *{
    display:inline-block;
}

.input-field {
    border: 1px solid black;
    border-right: 2px solid black;
    border-radius: 3px
}

.input-field:active{
    border: inherit;
}

.multi-input .input-item{
    margin-left: 10px;
}